<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="appium" parallel="tests" thread-count="1">
    <!-- 服务地址 -->
    <parameter name="serverURL" value="http://127.0.0.1:4723/wd/hub" />
    <!-- 测试平台 -->
    <parameter name="platformName" value="Android" />
    <!-- 系统版本 -->
    <parameter name="platformVersion" value="6.0.1" />
    <!-- 设备名称 -->
    <parameter name="deviceName" value="M92QACQ5D77M9" />
    <!-- appPackage -->
    <parameter name="appPackage" value="com.tencent.mm" />
    <!-- appActivity -->
    <parameter name="appActivity" value=".ui.LauncherUI" />
    <!-- 设置appium输入法 -->
    <parameter name="unicodeKeyboard" value="true" />
    <!-- 重置输入法 -->
    <parameter name="resetKeyboard" value="true" />
    <!-- 是否覆盖session -->
    <parameter name="sessionOverride" value="true" />
    <!-- 设置超时时间 -->
    <parameter name="newCommandTimeout" value="60" />
    <!-- 是否是小程序 -->
    <parameter name="xiaochengxu" value="true" />
    <parameter name="noReset" value="true" />
    <parameter name="automationName" value="uiautomator2" />
    
  <test name="测试登录" preserve-order="true">
      <classes>
          <class name="com.devil.testcase.login.LoginPage_001_LoginSuccessful_Test" />
      </classes>
  </test>
  
  <listeners>
      <listener class-name="com.devil.configure.TestResultListener" />
      <listener class-name="com.devil.configure.ExcelReporter" />
  </listeners>
  
</suite> 
